body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 800px;
    background-color: #f0f6fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.input-section, .output-section {
    width: 100%;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.encriptar-btn, .desencriptar-btn {
    background-color: #001f54;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.desencriptar-btn {
    background-color: #6b86c5;
}

.encriptar-btn:hover, .desencriptar-btn:hover {
    background-color: #081c50;
}

.note {
    font-size: 12px;
    color: #555;
}

.output-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholder {
    text-align: center;
    margin-bottom: 20px;
}

#outputText {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    min-height: 50px;
}

#copyButton {
    background-color: #001f54;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#copyButton:hover {
    background-color: #0037c4;
}

@media (max-width: 600px) {
    .buttons {
        flex-direction: column;
    }

    .encriptar-btn, .desencriptar-btn {
        width: 100%;
        margin-bottom: 10px;
    }
}
